<div class="container pt-3 custom-pos">
    <h1>Loaded Value</h1>
    <div class="row">
        <div class="col-6 mx-auto" *ngFor="let item of loadedList">         
            <div class="card">
                <div class="card-header"> 
                    <ul class="nav nav-pills card-header-pills"  id="myLoadedTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="card-tab{{item.LoadedValueID}}" data-toggle="tab" href="#card{{item.LoadedValueID}}" role="tab" aria-controls="card" aria-selected="true">Loaded Card</a>
                        </li>
                        <li class="nav-item" (click)="getLoadedValueHistory(item.LoadedValueID)">
                            <a class="nav-link" id="transaction-tab{{item.LoadedValueID}}" data-toggle="tab" href="#transaction{{item.LoadedValueID}}" role="tab" aria-controls="transaction" aria-selected="false">View Transactions</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="card{{item.LoadedValueID}}" role="tabpanel" aria-labelledby="card-tab">
                            <h5 class="card-title">Loaded Value ID:  {{item.LoadedValueID}}</h5>
                            <h5 class="card-title">Intial Balance:  {{item.InitialBalance | currency}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Current Balance:  {{item.CurrentBalance | currency}}</h6>
                            <p class="card-text">{{item.Description}}</p>
                        </div>
                        <div class="tab-pane fade" id="transaction{{item.LoadedValueID}}" role="tabpanel" aria-labelledby="transaction-tab">
                            Loaded Value Transaction History - {{item.LoadedValueID}}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th scope="col">Transaction Id</th>
                                    <th scope="col">Remaining Balance</th>
                                    <th scope="col">Amount Spent</th>
                                    <th scope="col">Date Updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tItem of loadedHistory">
                                        <th scope="row">{{tItem.LoadedValueTransactionID}}</th>
                                        <td>{{tItem.RemainingBalance | currency}}</td>
                                        <td>{{tItem.Amount | currency}}</td>
                                        <td>{{tItem.DateUpdated | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Expire Date: {{item.ExpirationDate | date}}</small>
                </div>
            </div>
        </div>
    </div>
</div>