<div class="container pt-3 custom-pos">
    <div class="row">
        <div class="col-12 col-sm-10 mx-auto">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Point Activity</h1>
                    <p class="lead">Point Activity Category Goes here</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 d-flex p-5">
                                    <!-- <h1 class="mx-auto align-self-center"><i class="fa fa-2x fa-tree"></i></h1> -->
                                    <img src="//via.placeholder.com/300x150" class="img-fluid">
                                </div>
                                <div class="col-md-6 py-3">
                                    <h3 class="card-title">Social Stream</h3>
                                    <p class="card-text">Connect to social stream to ern points</p>
                                    <a href="#" class="btn btn-outline-success btn-block">Earn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 d-flex p-5">
                                    <!-- <h1 class="mx-auto align-self-center"><i class="fa fa-2x fa-tree"></i></h1> -->
                                    <img src="//via.placeholder.com/300x150" class="img-fluid">
                                </div>
                                <div class="col-md-6 py-3">
                                    <h3 class="card-title">Profile Properties</h3>
                                    <p class="card-text">Complete your profile to earn points</p>
                                    <a href="#" class="btn btn-outline-success btn-block">Earn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/col-->
    </div><!--row-->
    <hr>
    <p class="mt-4 text-center"><ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination></p>
</div>
