<div class="container custom-pos">
    <h1>Simple Content</h1>
    <div class="btn-group btn-group-sm justify-content-between" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="toggleView = 'list'">List</button>
      <button type="button" class="btn btn-secondary" (click)="toggleView = 'grid'">Grid</button>
    </div>
    <hr class="mb-5">
    <div class="row" *ngIf="toggleView === 'list'">
      <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Simple Content title 1
                </a>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  Simple Content description 1
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Simple Content title 2
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  Simple Content description 2
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Simple Content title 3
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                  Simple Content description 3
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" *ngIf="toggleView === 'grid'">
        <div class="col-sm-3 pr-1">
            <div class="card">
                <img class="card-img-top img-fluid" src="//via.placeholder.com/400x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Simple Content title</h4>
                    <p class="card-text">Simple Content Description</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pr-1">
            <div class="card">
                <img class="card-img-top img-fluid" src="//via.placeholder.com/400x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Simple Content title 1</h4>
                    <p class="card-text">Simple Content Description 1</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pr-1">
            <div class="card">
                <img class="card-img-top img-fluid" src="//via.placeholder.com/400x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Simple Content title 3</h4>
                    <p class="card-text">Simple Content Description 1</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pr-1">
            <div class="card">
                <img class="card-img-top img-fluid" src="//via.placeholder.com/400x300" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Simple Content title 4</h4>
                    <p class="card-text">Simple Content Description 1</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>