<!-- <div class="container py-5 custom-pos">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <span class="anchor" id="formLogin"></span>
      
                        <div class="card card-outline-secondary">
                            <div class="card-header">
                                <h3 class="mb-0">Login</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="uname1">Username</label>
                                        <input type="text" class="form-control" name="uname1" id="uname1" required="">
                                        <div class="invalid-feedback">Please enter your username or email</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" id="pwd1" required="" autocomplete="new-password">
                                        <div class="invalid-feedback">Please enter a password</div>
                                    </div>
                                    <button type="button" (click)="authenticateLoyaltyUser()"  class="btn btn-success btn-md float-left" id="btnLogin">Login</button>
                                    <p class="float-right">or Sign in With &nbsp;&nbsp;<button type="button" (click)="getToken()"  class="btn btn-success btn-md float-right" id="btnNewAuthLogin">Loyalty OAuth</button></p>                                                             
                                </form>                            
                            </div>
             
                            <div class="card-header">
                                <p class="float-right">or Sign in With &nbsp;&nbsp;<button type="button" (click)="loyaltyOAuth()"  class="btn btn-success btn-lg float-right" id="btnNewAuthLogin">Loyalty OAuth</button></p>
                                <span class="text-danger">{{loginMsg}}</span>  
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>     
    </div> -->
    <!--/container-->

  <section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column custom-align">
          <h1 class="text align-self-center p-2">Welcome To Loyalty</h1>
          <h4 class="text align-self-center p-2">This is a reference site</h4>
          <button type="button" (click)="getToken()"  class="btn btn-success btn-md float-right" id="btnNewAuthLogin">Loyalty OAuth</button>
        </div>
      </div>
    </header>
  </section>