<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Skidata Loyalty Front End POC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#loyaltyMenuBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-stretch" id="loyaltyMenuBar">
            <ul class="navbar-nav">
                <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn$ | async">Home</a></li>
                <li class="nav-item"><a routerLink="/product" routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn$ | async">Products</a></li>
                <li class="nav-item"><a routerLink="/points" routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn$ | async">Points</a></li>
                <li class="nav-item"><a routerLink="/leaderboard" routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn$ | async">Leaderboard</a></li>
                <li class="nav-item"><a routerLink="/faq" routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn$ | async">Faq</a></li>
                <li class="nav-item"><a routerLink="/profile" routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn$ | async">My Profile</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="(isLoggedIn$ | async) && profileInfo !== undefined">
                  <a href="" class="nav-link"><p class="text-white">Welcome,  {{profileInfo.DisplayName}}</p></a>
                </li>
                <li class="nav-item"><a routerLink="/login" routerLinkActive="active" class="nav-link" title="login" *ngIf="!(isLoggedIn$ | async)">Login</a></li>
                <li class="nav-item"><a *ngIf="isLoggedIn$ | async" class="nav-link"><span>Points Remaining</span><br><ng2-odometer [number]="pointsRemaining" [format]="'d'" [theme]="'digital'"></ng2-odometer></a></li>
                <li class="nav-item"><a *ngIf="isLoggedIn$ | async" class="nav-link"><span>Points Spent</span><br><ng2-odometer [number]="pointsSpent" [format]="'d'" [theme]="'digital'"></ng2-odometer></a></li>
                <li *ngIf="isLoggedIn$ | async">
                    <div class="inset">
                        <img [src]="avatarUrl">
                    </div>
                </li>
                <li class="nav-item"><a (click)="loyaltylogout()" class="nav-link show-cursor" title="login" *ngIf="isLoggedIn$ | async">Logout</a></li>
                <li class="nav-item"><a routerLink="/register" routerLinkActive="active" class="nav-link" title="register" *ngIf="!(isLoggedIn$ | async)">Register</a></li>
                <li class="nav-item"><a (click)="openSettings(content)" class="nav-link show-cursor" title="register" *ngIf="!(isLoggedIn$ | async)"><i class="fa fa-cog"></i></a></li>
            </ul>
        </div>
    </nav>
    
        <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
        <h4 class="modal-title">Configuration Settings</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form novalidate [formGroup]="settingsForm" (ngSubmit)="onSubmitSaveLocal()"> 
        <fieldset formGroupName="settings">
            <div class="form-group">
                <label>API Key</label>
                <input type="text" class="form-control" formControlName="apiKey">
            </div>
            <div class="form-group">
                <label>Client ID</label>
                <input type="text" class="form-control" formControlName="clientId">
            </div>
            <div class="form-group">
                <label>Portal ID</label>
                <input type="text" class="form-control" formControlName="portalId">
            </div>
            <div class="form-group">
                <label>Redirect Url</label>
                <input type="text" class="form-control" formControlName="redirectUrl">
            </div>
            <div class="form-group">
                <label>API Url</label>
                <input type="text" class="form-control" formControlName="apiUrl">
            </div>
            <div class="form-group">
                <label>Portal API Docs Url</label>
                <input type="text" class="form-control" formControlName="portalApiDocsUrl">
            </div>
        </fieldset>
        <button type="submit" [disabled]="settingsForm.pristine" class="btn btn-success">Save</button> 
        <p>{{settingsSuccessMsg}}</p>
        <!-- <pre>{{settingsForm.value | json}}</pre> -->
        </form>
    
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div> -->
    </ng-template>
        